In [2]:
import pandas as pd
df1 = pd.read_csv("./datasets/startup_funding_1.csv")

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [42]:
df1["Amount in USD"]

0       20,00,00,000
1          80,48,394
2        1,83,58,860
3          30,00,000
4          18,00,000
            ...
3039       45,00,000
3040        8,25,000
3041       15,00,000
3042             NaN
3043        1,40,000
Name: Amount in USD, Length: 3044, dtype: object

In [49]:
df1["Amount"] = df1["Amount in USD"]

In [50]:
df1["Amount"]

0       20,00,00,000
1          80,48,394
2        1,83,58,860
3          30,00,000
4          18,00,000
            ...
3039       45,00,000
3040        8,25,000
3041       15,00,000
3042             NaN
3043        1,40,000
Name: Amount, Length: 3044, dtype: object

In [1]:
df1.head()

NameError: name 'df1' is not defined